/* Google font*/
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Lilita+One&display=swap');

/*Shadow and header font*/
.header-container {
    display: flex;
    justify-content: center;
    
   
}
/* Header styles*/
.header-narrow {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    }

/*Nav style*/
nav {
    font-family: 'Hachi Maru Pop', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
/*The buttons and links allways is black*/
.rules-button:visited {
    color: black;
}

/*Font and placement for rules button*/
.rules-button {
    font-family: 'Hachi Maru Pop', sans-serif ;
    font-weight: bold;
    margin-bottom: 10px;
}

/*Rock, Paper, Scissors image*/
.choices img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
/*Keeps the box white*/
.section-container {
    width: 60%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 20px; 
}

/*Choice box style*/
.choice-box {
    width: 97%;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px; 
    
    
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Reset button style */
#reset-button,
#reset-button:visited {
    text-decoration: none;
    color: black;
    font-family: 'Hachi Maru Pop', sans-serif;
    font-weight: bold;
}

/*Making the background image more see through*/

body:before {
    content: "";
    background-image: url('../image/hero.png');
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 255, 255 0.5);
    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.choices {
    display: flex;
    gap: 20px;
}

.choice {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    
}


.result p {
    font-size: 18px;
}

.choice.selected {
    background-color: #3498db;
    color: #fff;
}

/* CSS to style the pop-up and button */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center;
}

.popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

h3 {
    display: none;
    /*Hide the heading*/
}

/*Media for diffrent screens*/

@media (max-width: 768px) {
    .header-narrow {
        width: 90%; /* Adjust the width for smaller screens */
        justify-content: center;
    }

    .section-container {
        width: 90%; /* Adjust the width for smaller screens */
        justify-content: center;
    }

    .choices img {
        width: 50px; /* Adjust image size for smaller screens */
        height: 50px;
    }

    .choices {
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .result {
        width: 90%;
        justify-content: center;
    }

    .choice-box p {
        font-size: 10px;
        font-weight: bold;
    }

    

    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .header-narrow {
        width: 79%; /* Adjust the width for tablets */
    }
}

@media (min-width: 1025px) {
    .header-narrow {
        width: 60%; /* Adjust the width for bigger screens */
    }
}